main {
    flex: 1 1 0%;
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 0;
    z-index: 0;
}

.container {
    position: relative;
    flex: 1 1 0%;
    overflow-y: auto;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 8rem;
    padding-top: 1.5rem;
}

