@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotate 1.5s linear infinite;
}

:root {
  /* --- Fuentes --- */
  --font-display: 'Spline Sans', sans-serif;
  --font-body: 'Noto Sans', sans-serif;

  /* --- Colores de Marca (Acentos) --- */
  --primary: #8b5cf6;
  /* Violet 500 */
  --primary-hover: #7c3aed;
  /* Violet 600 */

  /* --- Fondos y Superficies --- */
  --background-dark: #0e172a;
  /* Zinc 900 (Fondo secundario) */
  --sidebar-dark: #020617;
  /* Background Sidebar */
  --surface-dark: #18181b;
  /* Zinc 900 (Cards y modales) */
  --surface-highlight: #27272a;
  /* Zinc 800 (Hover) */

  /* --- Texto --- */
  --text-primary: #ffffff;
  /* Blanco (Títulos) */
  --text-secondary: #9da2af;
  /* Zinc 300 (Subtítulos) */

  /* --- Bordes --- */
  --border-subtle: rgba(255, 255, 255, 0.1);

  /* --- Hover ---- */
  --hover-navLink: #0e0f2d;

  /* --- Cards --- */
  --card-background: #1e293b;
  --card-background-hover: #334155;
  --background-test: #1f2937;

}

/* --- Skeleton & Shimmer --- */
@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.skeleton {
  background: linear-gradient(90deg, #1e293b 25%, #334155 50%, #1e293b 75%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 0.5rem;
}

/* Aplicación base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-display);
  background-color: var(--background-dark);
  color: var(--text-primary);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
.nav-link {
  font-family: var(--font-display);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8b5cf6;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.icon-thin {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
}


#root {
  width: 100%;
  height: 100vh;
  display: flex;
}